name: First-Action 
env: 
  MY_APPLICATION_NAME    : "My_Flask"
  MY_DEPLOY_PACKAGE_NAME : "flask-deploy-ver-${{ github.sha }}"
on: 
  push: 
    branches: master
    
jobs: 

  first-job:
    runs-on: ubuntu-latest
  
    steps:
    - name: Print Hello Message in First Job
      run : echo "Hello World from First job"
      
    - name: multy command step
      run: |
        echo "Hello from MULTY"
        git -v
        echo " app name is : ${{ env.MY_APPLICATION_NAME }} "
    - name : list
      run : ls -la
  
  
  
  second-job:
    runs-on: ubuntu-latest
    needs: [ first-job ]
    env:
      VAR1 : "This is Job Level Variable-1"
      VAR2 : "This is Job Level Variable-2"
      
    steps:

    - name: Print hello msg
      run : echo "Hello from second job"
      
    - name : Print environment
      run : |
        echo " App name is : ${{ env.MY_APPLICATION_NAME }} "
        echo " Package name : ${{ env.MY_DEPLOY_PACKAGE_NAME }}"
        echo " VAR1 :  ${{ env.VAR1 }}"
        echo " VAR2 :  ${{ env.VAR2 }}"
        echo " local-var is $LOCAL_VAR"
      env:
        LOCAL_VAR: "This is Superr local Environment variable"
  
  
