name: First-Action 

on: 
  push: 
    branches: master
    
jobs: 

  first-job:
    runs-on: ubuntu-latest
  
    steps:
    - name: Print Hello Message in First Job
      run : echo "Hello World from First job"
      
    - name: multy command step
      run: |
        echo "Hello from MULTY"
        git -v
        
  
  
  
  second-job:
    runs-on: ubuntu-latest
    needs: [ first-job ]
    
    steps:
    - name: Print hello msg
      run : echo "Hello from second job"
  
  
